name: clang-tidy-review

on:
  pull_request:
    paths:
      - '**.c'
      - '**.h'
  workflow_dispatch:

jobs:
  clang-tidy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install libcurl
      run: sudo apt-get install -y curl libcurl4-openssl-dev

    - name: CMake
      env:
        CC: clang
      run: cd ./sdks/c  && cmake -B ./build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
    - name: reviewdog with clang-tidy
      uses: arkedge/action-clang-tidy@v1.2.0
      with:
        workdir: cd ./sdks/c/build
    - name: Build
      run: cd ./sdks/c && cmake -S . --build ./build
